.Jumbotron {
	background-image: url("../images/swirl.jpg");
	color: white;
	text-shadow: 1px 2px 3px limegreen;
	margin-bottom: 7px;
	margin-top: 7px;
	padding: 20px;
}

h2 {
	background-color: limegreen;
	color: darkblue;
	font-size: 20px;
}

h1 {
	text-shadow: 2px 3px 4px black;
	color: limegreen;
}

h3 {
	background-color: darkblue;
	color: limegreen;
	font-size: 20px;
}

.btn {
	color: darkblue;
	border-color: limegreen;
	border-width: 2px;
}


.owl-nav{
	display: flex;
	justify-content: center;
	color: lightblue;
	
}
.owl-prev{
	color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: limegreen;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.owl-next{
	color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: limegreen;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-dot {
    height: 10px;
    width: 10px;
    background-color: lightgrey;
    margin: 5px;
    border-radius: 50%;
}
.owl-dots{
	display: flex;
	justify-content: center;

}
.owl-dot.active {
    background-color: limegreen;
}
